## Data Wrangling

## Introduction

This step focus on collecting the data, organizing it and making sure it's well defined.

### Recap Of Data Science Problem

The purpose of this data science project is to come up with a delinquency prediction model for lending club. Decreasing the delinquency would help to increase revenue for lending club and attract more inventor for the platform. The project aims to build a predictive model based on user(borrower) features,which could be categoried into as following: 
- User feature (general)
- User feature (financial specific)
- Credit scores
- Credit lines
- Loan general feature
- Loan payment feature

- Potential response variables:sub_grade, int_rate, loan_status

## Import Lending Club Dataset from  2018Q2

### Glance first two rows in the dataset and decide how to import the whole dataset in pandas

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import preprocessing

In [47]:
with open(r'D:\Springboard\Github\Lending Club Capstone Project\LoanStats_securev1_2018Q1.csv') as df:
    for i in range(3):
        print(df.readline())

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)

"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","fico_range_low","fico_range_high","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","last_fico_range_high","last_fico_range_low","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_fico_range_low","sec_app_fico_range_high","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"

"129897398","","35000","35000","35000"," 60 months"," 13.58%","806.79","C","C2","Security Officer","7 years","MORTGAGE","160000","Source Verified","Mar-2018","Charged Off","n","https://lendingclub.com/browse/loanDetail.action?loan_id=129897398","","home_improvement","Home improvement","207xx","MD","7.87","0","Dec-2005","705","709","1","","97","14","1","10333","24.5%","24","w","0.00","0.00","17650.28","17650.28","7651.34","6011.28","0.0","3987.66","717.7788","Sep-2019","806.79","","Mar-2020","609","605","0","","1","Individual","","","","0","0","38964","3","1","1","1","3","28631","99","4","6","2674","55","42200","3","3","4","7","2783","12723","38.2","0","0","128","147","2","2","0","12","","0","","0","5","10","5","10","6","13","18","10","14","0","0","0","5","100","0","1","0","71160","38964","20600","28960","","","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

The first line is comment in the dataset, so it could be neglected, then the dataset can be loaded into jupyter notebook from the second line.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/rhodapang/Lending-Club-Capstone-Project/main/LoanStats_securev1_2018Q1.csv',
                 skiprows=1,sep=',')

C:\Users\rhoda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107866 entries, 0 to 107865
Columns: 150 entries, id to settlement_term
dtypes: float64(112), object(38)
memory usage: 123.4+ MB

In [4]:
df.shape

(107866, 150)

In [5]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,129897398,NaN,35000.0,35000.0,35000.0,60 months,13.58%,806.79,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,130827714,NaN,20000.0,20000.0,20000.0,36 months,5.31%,602.21,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,130910225,NaN,7000.0,7000.0,7000.0,36 months,11.98%,232.44,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,130950844,NaN,20000.0,20000.0,20000.0,60 months,9.92%,424.16,B,B2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,130960835,NaN,7000.0,7000.0,7000.0,36 months,20.39%,261.54,D,D4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dtypes.unique()

array([dtype('O'), dtype('float64')], dtype=object)

## Prelimenarily explore data

### Data cleaning- Dropping irrelevant columns

The purpose of this data science project is to build a predictive model to identify loans with delinquency status, therefore, some of columns that are related to outcome variables could be dropped in the beginning. From the document-LCDataDictionary provided by lending club, 


we could know that the columns name containing "delinq","hardship" and "settlment" are performance record should not be included into predictive features.

In [11]:
columns_name = list(df.columns)
columns_name.sort()
columns_name

['acc_now_delinq',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'collection_recovery_fee',
 'collections_12_mths_ex_med',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'deferral_term',
 'delinq_2yrs',
 'delinq_amnt',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'hardship_amount',
 'hardship_dpd',
 'hardship_end_date',
 'hardship_flag',
 'hardship_last_payment_amount',
 'hardship_length',
 'hardship_loan_status',
 'hardship_payoff_balance_amount',
 'hardship_reason',
 'hardship_start_date',
 'hardship_status',
 'hardship_type',
 'home_ownership',
 'id',
 'il_util',
 'initial_list_status',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'max_bal_bc',
 'member_id',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_delinq',
 'mths_since_last_major_derog',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'next_pymnt_d',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'open_acc',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'open_rv_12m',
 'open_rv_24m',
 'orig_projected_additional_accrued_interest',
 'out_prncp',
 'out_prncp_inv',
 'payment_plan_start_date',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'policy_code',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'pymnt_plan',
 'recoveries',
 'revol_bal',
 'revol_bal_joint',
 'revol_util',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_earliest_cr_line',
 'sec_app_fico_range_high',
 'sec_app_fico_range_low',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_mths_since_last_major_derog',
 'sec_app_num_rev_accts',
 'sec_app_open_acc',
 'sec_app_open_act_il',
 'sec_app_revol_util',
 'settlement_amount',
 'settlement_date',
 'settlement_percentage',
 'settlement_status',
 'settlement_term',
 'sub_grade',
 'tax_liens',
 'term',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'total_rev_hi_lim',
 'url',
 'verification_status',
 'verification_status_joint',
 'zip_code']

In [17]:
# Drop columns containing "delinq","hardship", "settlment" 
drop_columns = ["delinq","hardship", "settlement" ]
drop_columns_detail = []
for i in drop_columns:
    drop_columns_detail.extend(list(df.filter(regex= i)))

In [18]:
# Below are the columns, we could be dropped in the beginning. 
drop_columns_detail

['delinq_2yrs',
 'mths_since_last_delinq',
 'acc_now_delinq',
 'delinq_amnt',
 'mths_since_recent_revol_delinq',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [19]:
df.drop(drop_columns_detail,axis=1, inplace= True)

#### Additionally, the column of ID, url, issue_d are irrelevant to the model building, so they could be dropped, too. 
- ID:A unique LC assigned ID for the loan listing.
- issue_d:The month which the loan was funded
- url: URL for the LC page with listing data.

In [22]:

df.drop(columns=['id','url','issue_d'],inplace= True)

In [28]:
# After dropping above columns, there are 125 columns in the dataset
df.shape

(107866, 123)

### Data cleaning- Missing Value

Because of the large dataset with 126 columns, it'd better to have a big picture that missing value consist in the dataset.

####  Build a missing table for better understand the dataset

In [29]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

missing_table = missing_values_table(df)
missing_table

Your selected dataframe has 123 columns.
There are 123 columns that have missing values.

                                     Missing Values  % of Total Values
member_id                                    107866              100.0
desc                                         107866              100.0
sec_app_mths_since_last_major_derog          102439               95.0
payment_plan_start_date                       99889               92.6
deferral_term                                 99853               92.6
...                                             ...                ...
last_pymnt_amnt                                   2                0.0
collection_recovery_fee                           2                0.0
recoveries                                        2                0.0
total_rec_late_fee                                2                0.0
open_rv_12m                                       2                0.0

[123 rows x 2 columns]

In [26]:
df_m = missing_table[missing_table['% of Total Values']>=80]
df_m

                                            Missing Values  % of Total Values
member_id                                           107866              100.0
desc                                                107866              100.0
sec_app_mths_since_last_major_derog                 102439               95.0
payment_plan_start_date                              99889               92.6
deferral_term                                        99853               92.6
orig_projected_additional_accrued_interest           96423               89.4
mths_since_last_record                               92597               85.8
verification_status_joint                            91849               85.2
sec_app_revol_util                                   91845               85.1
sec_app_open_acc                                     91535               84.9
sec_app_open_act_il                                  91535               84.9
sec_app_earliest_cr_line                             91535               84.9
sec_app_inq_last_6mths                               91535               84.9
sec_app_mort_acc                                     91535               84.9
revol_bal_joint                                      91535               84.9
sec_app_chargeoff_within_12_mths                     91535               84.9
sec_app_num_rev_accts                                91535               84.9
sec_app_fico_range_low                               91535               84.9
sec_app_collections_12_mths_ex_med                   91535               84.9
dti_joint                                            91535               84.9
annual_inc_joint                                     91535               84.9
sec_app_fico_range_high                              91535               84.9
mths_since_recent_bc_dlq                             86568               80.3

####  Before understand the deep meaning of all columns, the columns with all missing value could be dropped firstly.

In [30]:
df.dropna(axis = 1, how='all', inplace=True)
df.shape

(107866, 121)

In [31]:
# drop the rows that are all missing value, so there have been two rows dropped. 
df = df.dropna(how='all')
df.shape

(107864, 121)

### Drop columns with only containing the distinct value

In [32]:
drop_cols = [c for c in list(df) if df[c].nunique()<=1]
drop_cols

['pymnt_plan', 'policy_code', 'num_tl_120dpd_2m']

In [ ]:
df.drop(['pymnt_plan', 'policy_code', 'num_tl_120dpd_2m'],axis =1,inplace=True)

### drop the deplicated rows in dataframe

In [36]:
# Select all duplicate rows based on all columns and there is no row that are totally the same  
df_duplicate = df[df.duplicated(keep = False)]
df_duplicate

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, loan_status, purpose, title, zip_code, addr_state, dti, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, application_type, annual_inc_joint, dti_joint, verification_status_joint, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, ...]
Index: []

[0 rows x 118 columns]

In [37]:
# After finishing the preliminarily explore, there are 118 columns in the dataset 

df.shape

(107864, 118)

In [ ]:
# Save the dataframe for next stage data analysis
df.to_csv(r'D:\Springboard\Github\Lending Club Capstone Project\Lending Club Updated Version.csv',index=False)